<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="VariIconsReload.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <VariIconsReload.Properties.Settings>
            <setting name="DrawTool_Width" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="BrushTool_Strength" serializeAs="String">
                <value>50</value>
            </setting>
            <setting name="PenTool_TipShape" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="ConfigOption_AntiAlias" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="ShowGrid" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="AutoZoom" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="ToolOption_Diameter" serializeAs="String">
                <value>3</value>
            </setting>
            <setting name="StartAngleOption_Value" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="SwepAngleOption_Value" serializeAs="String">
                <value>90</value>
            </setting>
            <setting name="TensionOption_Value" serializeAs="String">
                <value>70</value>
            </setting>
            <setting name="ToleranceOption_Value" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="CustomFormat_ImageWidth" serializeAs="String">
                <value>16</value>
            </setting>
            <setting name="CustomFormat_ImageHeight" serializeAs="String">
                <value>16</value>
            </setting>
            <setting name="CustomFormat_Bpp" serializeAs="String">
                <value>32</value>
            </setting>
            <setting name="CustomFormat_Lock" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="TextFormatOption_PreferredFont" serializeAs="String">
                <value>Arial</value>
            </setting>
            <setting name="TextFormatOptin_Size" serializeAs="String">
                <value>11</value>
            </setting>
            <setting name="TextFormatOption_Text" serializeAs="String">
                <value>Text</value>
            </setting>
            <setting name="TextFormatOption_Alignment" serializeAs="String">
                <value>MiddleCenter</value>
            </setting>
            <setting name="SnapGridOption_Value" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="RotateFreeEffect_Angle" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="BrightnessEffect_Brightness" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="BrightnessEffect_Contrast" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="ColorEffect_Hue" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="ColorEffect_Saturation" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="ColorEffect_Brightness" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="ShadowEffect_Blur" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="ShadowEffect_Offset" serializeAs="String">
                <value>1, 1</value>
            </setting>
            <setting name="ShadowEffect_Color" serializeAs="String">
                <value>128, 0, 0, 0</value>
            </setting>
            <setting name="DocumentResize_Size" serializeAs="String">
                <value>256, 256</value>
            </setting>
            <setting name="DocumentResize_Lock" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="DocumentResize_Anchor" serializeAs="String">
                <value>None</value>
            </setting>
            <setting name="DocumentResize_Scale" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="DocumentResize_Interpolation" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="GradientList" serializeAs="String">
                <value />
            </setting>
            <setting name="ColorList" serializeAs="String">
                <value />
            </setting>
            <setting name="BrushParamsA" serializeAs="String">
                <value />
            </setting>
            <setting name="BrushParamsB" serializeAs="String">
                <value />
            </setting>
            <setting name="BrushAType" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="BrushBType" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="BrushEditingA" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="ColorListLock" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="ImageEncoder_JPGQuality" serializeAs="String">
                <value>75</value>
            </setting>
            <setting name="IconEditor_CheckerA" serializeAs="String">
                <value>224, 224, 224</value>
            </setting>
            <setting name="IconEditor_CheckerB" serializeAs="String">
                <value>White</value>
            </setting>
        </VariIconsReload.Properties.Settings>
    </userSettings>
</configuration>