<md-dialog class="modal-box"
           aria-label="Change password">

    <div class="modal-box__header modal-box__header--request">Change password</div>

    <div class="modal-box__content">

            <form name="form_userprofile">

                <md-input-container>
                    <label>Old password</label>
                    <input name="old-password"
                           type="password"
                           ng-model="model.old_password"
                           md-autofocus>
                </md-input-container>


                <md-input-container>
                    <label>New Password</label>
                    <input name="new-password"
                           type="password"
                           ng-model="model.new_password">
                </md-input-container>

                <md-input-container>
                    <label>Repeat New Password</label>
                    <input name="repeated-password"
                           type="password"
                           ng-model="model.repeated_password">
                </md-input-container>

                <div class="modal-box__progress">
                    <md-progress-linear ng-show="changing_password"
                                        md-mode="indeterminate"></md-progress-linear>
                    <div class="modal-box__error"
                         ng-if="error_msg">
                        <b>{{error_msg}}</b>
                    </div>
                </div>

                <div class="modal-box__actions">
                    <button class="control-button control-button--cancel"
                            ng-click="cancel()"
                            md-ink-ripple
                            ng-disabled="changing_password"
                            type="button">
                        Cancel
                    </button>
                    <button class="control-button"
                            ng-disabled="!validate_form() || changing_password"
                            ng-click="change_password($event)"
                            md-ink-ripple
                            type="submit">
                        Save
                    </button>
                </div>

            </form>

    </div>

</md-dialog>
