<!doctype html>
<html>
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="./frontend/css/index.css">
  <link rel="stylesheet" media="all" href="./frontend/css/bootstrap.css">
</head>
<body ng-app="app" >

  <!-- this is the initial bootup screen -->
  <div id="bootup" class="message screen">
    <h1 id="bootupText">Welcome to RetroSuite EMU</h1>
  </div>


  <!-- this is the loading screen -->
  <div id="loading" class="message screen hidden" ng-controller="errorScreen">
    <img id="loadingGif" src="./frontend/img/loading.gif" ng-cloak/>
    <h1 id="loadingText">loading <span id="loadingTextEllipses">...<span></h1>
    <div id="loadingText2" class="hidden">Taking too long? Check your internet, or:</div>
    <button data-ng-click="restart()" id="clickToRestart" class="hidden">Click to restart</button>
  </div>


  <!-- this is the error screen -->
  <div id="error" class="message hidden screen" ng-controller="errorScreen">
    <div id="errorModal">
      <div id="errorContainer">
        <h1 id="errorText" class="pauseMenuTitle">Something went wrong!</h1>
        <button data-ng-click="restart()" class="pauseMenuButton">Click to restart</button>
      </div>
    </div>
  </div>


  <!-- this is the game selection screen -->
  <div class="gameSelection hidden screen" ng-hide="gameSelection.hidden" id="gameSelection" ng-controller="gameSelection">

    <!-- modal which appears when user clicks the remove sign on a game -->
    <div id="deleteGameScreen" class="hidden">
      <div id="deleteGameModal" class="modal" data-ng-click="$event.stopPropagation()">
        <div id="deleteGameModalBody" class="modal-body"> 
          <h3 id="deleteGameInstructions">Remove from your saved list of games?</h3>
          <div class="modal-footer" id="deleteGameModalFooter">
            <button id="deleteGameYesButton" data-ng-click="cancelDeleteGame()">No</button>
            <button id="deleteGameNoButton" data-ng-click="confirmDeleteGame(gameToDelete)">Yes</button>
          </div>
        </div>
      </div>
    </div>
    <!-- left side -->
    <div class="availableGames" id="availableGames">
      <h1 class='needAGame'>Your Library</h1>
      <div class="btn-group" data-ng-class="{open: open}" ng-cloak>
        <button class="btn dropdown-toggle" data-ng-click="open=!open" id='filterButton'>
          <span class='filterText' >Filter</span>
          <span class="caret"></span>
        </button>
        <ul class="dropdown-menu" aria-labelledby="dropdownMenu">
          <li>
            <a data-ng-click="checkAll()">
              <i class="icon-ok-sign"></i>
              Check All
            </a>
          </li>
          <li>
            <a data-ng-click="selectedConsole=[];">
              <i class="icon-remove-sign"></i>
              Uncheck All
            </a>
          </li>
          <li class="divider"></li>
          <li data-ng-repeat="console in consoleList"> 
            <a data-ng-click="setSelectedConsole()">
              {{console.name}}
              <span data-ng-class="isChecked(console.id)"></span>
            </a>
          </li>
        </ul>
        <input class='searchBar' type='text' ng-model='search' placeholder='Search through pre-loaded games and games you&#39ve played before' id='searchBar'/>
      </div>
      <div class='games' >
        <ul class='gamesList'>
          <li class='gamesListEntry' data-ng-repeat="game in filtered = (games | consoleFilter:selectedConsole) | filter:{title: search} | orderBy: 'title'" ng-cloak>
            <img data-ng-src="{{getIcon(game.console.id)}}" height='40px' width='40px'> 
            <a id='gameTitle' data-ng-click="getRom(game)" class="cursorPointer">
              {{game.title}}
            </a>
            <img src="/frontend/img/xIconGray.png" data-ng-show="game.extension" data-ng-click="removeUserAddedGame(game)" class="cursorPointer" class="editOrDeleteIcon" height='20px' width='20px'>
          </li>
        </ul>
      </div>
    </div>
    <!-- right side -->
    <div class='dragGameHere' id='dragGameHere'>
      <input type="file" id="chooser" class="chooser"/>
      <h1 id="haveANewGameTitle">Have a new game?</h1>
      <div id="dragHintImages">
        <div id="arrowImageContainer">
          <img src="/frontend/img/arrow.png" id="arrowImage" />
        </div>
        <div  id="dragItHereContainer">
          <span id="dragHint1">Drag it here! </span>
          <span id="dragHint2">Or, if you prefer...</span>
          <button id="chooseRom" class="pauseMenuButton">Choose a rom to open</button>
        </div>
      </div>
    </div>
  </div>


  <!-- this is the Keyboard vs Mobile choice selection screen -->
  <div class="inputSelectionScreen hidden" id="inputSelectionScreen" ng-controller="inputSelection">
    <!-- QR modal that appears when user selects play with mobile -->
    <div id="qrScreen" class="hidden cursorPointer" data-ng-click="closeQRScreen()">
      <div id="qrModal" class="modal cursorDefault" data-ng-click="$event.stopPropagation()">
        <div id="qrModalBody" class="modal-body"> 
          <div id="qrCode"></div>
          <h3 id="qrInstructions">No Wifi Address Found</h3>
        </div>
      </div>
    </div>
    <!-- title text -->
    <div id="chooseYourControllerText1" data-ng-click="closeQRScreen()">
      Choose
      Your
      Controller
    </div>
    <!-- left side -->
    <div id="keyboardSide">
      <div id="keyboardIcon" class="cursorPointer"></div>
      <div id='keyboardTitle'>Keyboard</div>
      <div id='keyboardDescription'>Desktop Only</div>
    </div>
    <!-- right side -->
    <div id="mobileSide">
      <div id="mobileIcon" class="cursorPointer" data-ng-click="openQRScreen()"></div>
      <div id='mobileTitle'>Mobile Phone</div>
      <div id='mobileDescription'>Desktop + Phone</div>
    </div>
  </div>


  <!-- these are the overlay that is the emulator + the screen that appears on right click which pauses game and shows options -->
  <div id="overlay" class="overlay"></div>
  <div id="menuHint">
    <div id="menuHintBubble" class="hidden">Right Click anywhere to Pause and Remap Keys</div>
  </div>
  <div id="controllerConnectedHint">
    <div id="controllerConnectedHintBubble" class="hidden">Mobile Controller Connected</div>
  </div>
  <div class="menu hidden" id="menu" ng-controller="pauseScreen">
    <div id="pauseMenuModal">
    <div id="controllerDisconnectedHint">
      <div id="controllerDisconnectedHintBubble" class="hidden">Mobile Controller Disconnected</div>
    </div>
      <div id="pauseMenuContainer">
        <input type="file" id="savechooser" class="chooser"/>
        <div id="pauseMenuHeader">
          <h1 class="pauseMenuTitle">Your game is paused.</h1>
          <div id="pauseMenuHeaderButtons">
            <button id="resume" class="pauseMenuButton">Resume</button>
            <br>
            <button id="reset" class="pauseMenuButton">Reset Game</button>
            <br>
            <button id="save" class="pauseMenuButton">Save Game</button>
            <br>
            <button id="load" class="pauseMenuButton">Load Save</button>
            <br>
            <button id="mute" class="pauseMenuButton">Mute</button>
            <br>
            <button id="rePairController" class="pauseMenuButton" data-ng-click="openQRScreen()">Re-pair Mobile Controller</button>
            <br>
            <button id="chooseNewGame" class="pauseMenuButton" data-ng-click="chooseNewGame()">Choose A Different Game</button>
          </div>
          <div id="resumeError" class="hidden">Please submit new key bindings or hit cancel in order to resume</div>
        </div>


        <div id='keyMappingsForm'>
          <h1 class="pauseMenuTitle">Controls:</h1>
          <div id="keyMappingsFormButtons">
            <button id="editKeyMappings" class="pauseMenuButton" data-ng-click="editKeyMappings()" ng-hide="!disabled">Edit Key Mappings</button>
            <button id="submitNewKeyMappings" class="pauseMenuButton" ng-click='submitNewKeyMappings()' ng-hide="disabled">Submit New Key Mappings</button>
            <button id="cancelSubmitNewKeyMappings" class="pauseMenuButton" ng-click='cancelSubmitNewKeyMappings()' ng-hide="disabled">Cancel</button>
          </div>
          <div ng-hide="!validationError" id="validationError">Please map a key for every button, and use each key only once</div>
          <div ng-hide="!editHint" class="editHint">Click an input box below and tap the new keyboard key you want to use as the button.</div>
          <div ng-hide="!editHint" class="editHint">Click "Submit New Key Mappings" when done.</div>


          <div id="buttonMappingsList">
            <div class="buttonMapping">
              <span>A button:</span> 
              <input type="text" id="aButton" value="{{getValue('aButton')}}" ng-disabled='disabled' class="buttonInput">
            </div>
            <div class="buttonMapping">
              B button: 
              <input type="text" id="bButton" value="{{getValue('bButton')}}" ng-disabled='disabled' class="buttonInput">
            </div>
            <div class="buttonMapping">
              X button: 
              <input type="text" id="xButton" value="{{getValue('xButton')}}" ng-disabled='disabled' class="buttonInput">
            </div>
            <div class="buttonMapping">
              Y button: 
              <input type="text" id="yButton" value="{{getValue('yButton')}}" ng-disabled='disabled' class="buttonInput">
            </div>
            <div class="buttonMapping">
              L shoulder: 
              <input type="text" id="lShoulder"value="{{getValue('lShoulder')}}" ng-disabled='disabled' class="buttonInput">
            </div>
            <div class="buttonMapping">
              R shoulder: 
              <input type="text" id="rShoulder"value="{{getValue('rShoulder')}}" ng-disabled='disabled' class="buttonInput">
            </div>
            <div class="buttonMapping"> 
              Start button: 
              <input type="text" id="startButton" value="{{getValue('startButton')}}" ng-disabled='disabled' class="buttonInput">
            </div>
            <div class="buttonMapping">
              Select button: 
              <input type="text" id="selectButton" value="{{getValue('selectButton')}}" ng-disabled='disabled' class="buttonInput">
            </div>
            <div class="buttonMapping">
              Up arrow: 
              <input type="text" id="upArrow" value="{{getValue('upArrow')}}" ng-disabled='disabled' class="buttonInput">
            </div>
            <div class="buttonMapping">
              Down arrow: 
              <input type="text" id="downArrow" value="{{getValue('downArrow')}}" ng-disabled='disabled' class="buttonInput">
            </div>
            <div class="buttonMapping">
              Left arrow: 
              <input type="text" id="leftArrow" value="{{getValue('leftArrow')}}" ng-disabled='disabled' class="buttonInput">
            </div>
            <div class="buttonMapping">
              Right arrow: 
              <input type="text" id="rightArrow" value="{{getValue('rightArrow')}}" ng-disabled='disabled' class="buttonInput">
            </div>
          </div> 
        </div>
      </div>
    </div>
    <div id="qrScreen2" class="hidden cursorPointer" data-ng-click="closeQRScreen()">
      <div id="qrModal2" class="modal cursorDefault" data-ng-click="$event.stopPropagation()">
        <div id="qrModalBody2" class="modal-body"> 
          <div id="qrCode2"></div>
          <h3 id="qrInstructions2">No Wifi Address Found</h3>
        </div>
      </div>
    </div>
  </div>

  
  <!-- websockets server -->
  <script src="./lib/sha1.js"></script>
  <script src="./lib/http.js"></script>
  <script src="./server/server.js"></script>
  <script src="./server/messageParser.js"></script>

  <!-- raw emulator and dependencies -->
  <script src="./emulator/jspm_packages/github/jmcriffey/bower-traceur-runtime@0.0.91/traceur-runtime.min.js"></script>
  <script src="./emulator/jspm_packages/system-csp-production.js"></script>
  <script src="./emulator/config.js"></script>
  <script src="./emulator/build.js"></script>

  <!-- libraries -->
  <script src="./lib/underscore-min.js"></script>
  <script src="./lib/angular-min.js"></script>
  <script src="./lib/jquery-min.js"></script>
  <script src="./lib/qr-code.js"></script>

  <!-- angular front end -->
  <script src="./frontend/angular/app.js"></script>
  <script src="./frontend/angular/filters.js"></script>
  <script src="./frontend/angular/controllers/errorScreen.js"></script>
  <script src="./frontend/angular/controllers/inputSelection.js"></script>
  <script src="./frontend/angular/controllers/gameSelection.js"></script>
  <script src="./frontend/angular/helpers/keyCodes.js"></script>
  <script src="./frontend/angular/controllers/pauseScreen.js"></script>

  <!-- emulator front end -->
  <script src="./frontend/emulator/emulatorFrontEnd.js"></script>
  <script src="./frontend/emulator/gamesList.js"></script>


</body>
</html>
