.icon_addLayer {
	background: url("sprite-a7a15a7a.svg") 0 0 no-repeat;
}

.icon_bringBack {
	background: url("sprite-a7a15a7a.svg") 1.492537313432836% 0 no-repeat;
}

.icon_bringBackward {
	background: url("sprite-a7a15a7a.svg") 2.985074626865672% 0 no-repeat;
}

.icon_bringForward {
	background: url("sprite-a7a15a7a.svg") 4.477611940298507% 0 no-repeat;
}

.icon_bringFront {
	background: url("sprite-a7a15a7a.svg") 5.970149253731344% 0 no-repeat;
}

.icon_browseTool {
	background: url("sprite-a7a15a7a.svg") 7.462686567164179% 0 no-repeat;
}

.icon_browseTool_all {
	background: url("sprite-a7a15a7a.svg") 8.955223880597014% 0 no-repeat;
}

.icon_browseTool_center {
	background: url("sprite-a7a15a7a.svg") 10.447761194029852% 0 no-repeat;
}

.icon_brush {
	background: url("sprite-a7a15a7a.svg") 11.940298507462687% 0 no-repeat;
}

.icon_copy {
	background: url("sprite-a7a15a7a.svg") 13.432835820895523% 0 no-repeat;
}

.icon_cut {
	background: url("sprite-a7a15a7a.svg") 14.925373134328359% 0 no-repeat;
}

.icon_delete {
	background: url("sprite-a7a15a7a.svg") 16.417910447761194% 0 no-repeat;
}

.icon_deselect {
	background: url("sprite-a7a15a7a.svg") 17.91044776119403% 0 no-repeat;
}

.icon_down {
	background: url("sprite-a7a15a7a.svg") 19.402985074626866% 0 no-repeat;
}

.icon_eraser {
	background: url("sprite-a7a15a7a.svg") 20.895522388059703% 0 no-repeat;
}

.icon_gradientLinear {
	background: url("sprite-a7a15a7a.svg") 22.388059701492537% 0 no-repeat;
}

.icon_gradientRadial {
	background: url("sprite-a7a15a7a.svg") 23.880597014925375% 0 no-repeat;
}

.icon_group {
	background: url("sprite-a7a15a7a.svg") 25.37313432835821% 0 no-repeat;
}

.icon_help {
	background: url("sprite-a7a15a7a.svg") 26.865671641791046% 0 no-repeat;
}

.icon_inker_small {
	background: url("sprite-a7a15a7a.svg") 28.35820895522388% 0 no-repeat;
}

.icon_left {
	background: url("sprite-a7a15a7a.svg") 29.850746268656717% 0 no-repeat;
}

.icon_menu {
	background: url("sprite-a7a15a7a.svg") 31.34328358208955% 0 no-repeat;
}

.icon_new {
	background: url("sprite-a7a15a7a.svg") 32.83582089552239% 0 no-repeat;
}

.icon_open {
	background: url("sprite-a7a15a7a.svg") 34.32835820895522% 0 no-repeat;
}

.icon_paste {
	background: url("sprite-a7a15a7a.svg") 35.82089552238806% 0 no-repeat;
}

.icon_pathTool {
	background: url("sprite-a7a15a7a.svg") 37.3134328358209% 0 no-repeat;
}

.icon_pathTool_align {
	background: url("sprite-a7a15a7a.svg") 38.80597014925373% 0 no-repeat;
}

.icon_pathTool_backMFront {
	background: url("sprite-a7a15a7a.svg") 40.298507462686565% 0 no-repeat;
}

.icon_pathTool_close {
	background: url("sprite-a7a15a7a.svg") 41.791044776119406% 0 no-repeat;
}

.icon_pathTool_distort {
	background: url("sprite-a7a15a7a.svg") 43.28358208955224% 0 no-repeat;
}

.icon_pathTool_frontMBack {
	background: url("sprite-a7a15a7a.svg") 44.776119402985074% 0 no-repeat;
}

.icon_pathTool_intersection {
	background: url("sprite-a7a15a7a.svg") 46.26865671641791% 0 no-repeat;
}

.icon_pathTool_join {
	background: url("sprite-a7a15a7a.svg") 47.76119402985075% 0 no-repeat;
}

.icon_pathTool_open {
	background: url("sprite-a7a15a7a.svg") 49.25373134328358% 0 no-repeat;
}

.icon_pathTool_reverse {
	background: url("sprite-a7a15a7a.svg") 50.74626865671642% 0 no-repeat;
}

.icon_pathTool_simplify {
	background: url("sprite-a7a15a7a.svg") 52.23880597014925% 0 no-repeat;
}

.icon_pathTool_split {
	background: url("sprite-a7a15a7a.svg") 53.73134328358209% 0 no-repeat;
}

.icon_pathTool_strokeToPath {
	background: url("sprite-a7a15a7a.svg") 55.223880597014926% 0 no-repeat;
}

.icon_pathTool_union {
	background: url("sprite-a7a15a7a.svg") 56.71641791044776% 0 no-repeat;
}

.icon_pencil {
	background: url("sprite-a7a15a7a.svg") 58.208955223880594% 0 no-repeat;
}

.icon_plus {
	background: url("sprite-a7a15a7a.svg") 59.701492537313435% 0 no-repeat;
}

.icon_redo {
	background: url("sprite-a7a15a7a.svg") 61.19402985074627% 0 no-repeat;
}

.icon_right {
	background: url("sprite-a7a15a7a.svg") 62.6865671641791% 0 no-repeat;
}

.icon_rulerTool {
	background: url("sprite-a7a15a7a.svg") 64.17910447761194% 0 no-repeat;
}

.icon_save {
	background: url("sprite-a7a15a7a.svg") 65.67164179104478% 0 no-repeat;
}

.icon_select {
	background: url("sprite-a7a15a7a.svg") 67.16417910447761% 0 no-repeat;
}

.icon_selectTool {
	background: url("sprite-a7a15a7a.svg") 68.65671641791045% 0 no-repeat;
}

.icon_selectTool_flipX {
	background: url("sprite-a7a15a7a.svg") 70.14925373134328% 0 no-repeat;
}

.icon_selectTool_flipY {
	background: url("sprite-a7a15a7a.svg") 71.64179104477611% 0 no-repeat;
}

.icon_shapeTool {
	background: url("sprite-a7a15a7a.svg") 73.13432835820896% 0 no-repeat;
}

.icon_shapeTool_ellipse {
	background: url("sprite-a7a15a7a.svg") 74.6268656716418% 0 no-repeat;
}

.icon_shapeTool_rectangle {
	background: url("sprite-a7a15a7a.svg") 76.11940298507463% 0 no-repeat;
}

.icon_textTool {
	background: url("sprite-a7a15a7a.svg") 77.61194029850746% 0 no-repeat;
}

.icon_textTool_anchorLeft {
	background: url("sprite-a7a15a7a.svg") 79.1044776119403% 0 no-repeat;
}

.icon_textTool_anchorMiddle {
	background: url("sprite-a7a15a7a.svg") 80.59701492537313% 0 no-repeat;
}

.icon_textTool_anchorRight {
	background: url("sprite-a7a15a7a.svg") 82.08955223880596% 0 no-repeat;
}

.icon_textTool_weightBold {
	background: url("sprite-a7a15a7a.svg") 83.58208955223881% 0 no-repeat;
}

.icon_textTool_weightLight {
	background: url("sprite-a7a15a7a.svg") 85.07462686567165% 0 no-repeat;
}

.icon_textTool_weightNormal {
	background: url("sprite-a7a15a7a.svg") 86.56716417910448% 0 no-repeat;
}

.icon_undo {
	background: url("sprite-a7a15a7a.svg") 88.05970149253731% 0 no-repeat;
}

.icon_ungroup {
	background: url("sprite-a7a15a7a.svg") 89.55223880597015% 0 no-repeat;
}

.icon_up {
	background: url("sprite-a7a15a7a.svg") 91.04477611940298% 0 no-repeat;
}

.icon_window_close {
	background: url("sprite-a7a15a7a.svg") 92.53731343283582% 0 no-repeat;
}

.icon_window_maximize {
	background: url("sprite-a7a15a7a.svg") 94.02985074626865% 0 no-repeat;
}

.icon_window_minimize {
	background: url("sprite-a7a15a7a.svg") 95.5223880597015% 0 no-repeat;
}

.icon_window_restore {
	background: url("sprite-a7a15a7a.svg") 97.01492537313433% 0 no-repeat;
}

.icon_zoomIn {
	background: url("sprite-a7a15a7a.svg") 98.50746268656717% 0 no-repeat;
}

.icon_zoomOut {
	background: url("sprite-a7a15a7a.svg") 100% 0 no-repeat;
}

