@font-face {
    font-family: 'OpenSansRegular';
    src: url('../fonts/opensans-regular.eot');
    src: url('../fonts/opensans-regular.eot') format('embedded-opentype'), url('../fonts/opensans-regular.woff') format('woff'), url('../fonts/opensans-regular.ttf') format('truetype');
}

@font-face {
    font-family: 'OpenSansBold';
    src: url('../fonts/opensans-bold.eot');
    src: url('../fonts/opensans-bold.eot') format('embedded-opentype'), url('../fonts/opensans-bold.woff') format('woff'), url('../fonts/opensans-bold.ttf') format('truetype');
}

@font-face {
    font-family: 'OpenSansSemibold';
    src: url('../fonts/opensans-semibold.eot');
    src: url('../fonts/opensans-semibold.eot') format('embedded-opentype'), url('../fonts/opensans-semibold.woff') format('woff'), url('../fonts/opensans-semibold.ttf') format('truetype');
}

@font-face {
    font-family: 'BadScript';
    font-style: normal;
    font-weight: 400;
    src: local('BadScript'), url(../fonts/BadScriptRegular.woff) format('woff')
}

@font-face {
    font-family: 'Lobster';
    font-style: normal;
    font-weight: 400;
    src: local('Lobster'), url(../fonts/lobsterRegular.woff) format('woff')
}

@font-face {
    font-family: 'MarckScript';
    font-style: normal;
    font-weight: 400;
    src: local('MarckScript'), url(../fonts/MarckScriptRegular.woff) format('woff')
}

@font-face {
    font-family: 'PoiretOne';
    font-style: normal;
    font-weight: 400;
    src: local('PoiretOne'), url(../fonts/PoiretOneNormal.woff) format('woff')
}

@font-face {
    font-family: 'RobotoSlab';
    font-style: normal;
    font-weight: 400;
    src: local('RobotoSlab'), url(../fonts/RobotoSlabRegular.woff) format('woff')
}

@font-face {
    font-family: 'RussoOne';
    font-style: normal;
    font-weight: 400;
    src: local('RussoOne'), url(../fonts/RussoOneRegular.woff) format('woff')
}

html {
    overflow: auto;
}
body {
    font-family: 'OpenSansRegular', Arial, Helvetica, sans-serif;
    font-size: 12px;
    width: auto;
    overflow: visible;
    margin: 0;
    padding: 0;
}

h3 {
    font-family: 'OpenSansBold';
    color: #1694ab;
    font-size: 11px;
    text-align: center;
    margin-bottom: 10px;
    text-transform: uppercase;
}

button {
    outline: none;
}

.clr {
    clear: both;
}

.main_btn {
    padding: 1px 6px 1px 16px;
    outline: none;
    background: url(../images/btn_bg.png) repeat-x 0 0;
    font-family: 'OpenSansRegular';
    height: 35px;
    border: 1px solid #cac9c9;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    font-size: 12px;
    color: #2d2d2d;
    cursor: pointer;
    line-height: 22px;
    width: 220px;
    text-align: left;
    margin-bottom: 7px;
    display: block;
}

/*.activeB {*/
    /*padding: 1px 6px 1px 16px;*/
    /*outline: none;*/
    /*background: url(../images/btn_bg.png) repeat-x 0 0;*/
    /*font-family: 'OpenSansRegular';*/
    /*height: 35px;*/
    /*border: 1px solid #cac9c9;*/
    /*-webkit-border-radius: 5px;*/
    /*-moz-border-radius: 5px;*/
    /*border-radius: 5px;*/
    /*font-size: 12px;*/
    /*color: #2d2d2d;*/
    /*cursor: pointer;*/
    /*line-height: 22px;*/
    /*width: 186px;*/
    /*text-align: left;*/
    /*margin-bottom: 7px;*/
    /*display: block;*/
/*}*/

/*.activeB i {*/
    /*background: url(../images/btn_icons.png) no-repeat 0 0;*/
    /*display: block;*/
    /*float: left;*/
    /*height: 24px;*/
    /*margin-right: 12px;*/
    /*width: 24px;*/
/*}*/

.main_btn:hover {
    background-position: 0 -35px;
}

.main_btn:active, .main_btn:focus, .main_btn.active {
    background-position: 0 -70px;
}

.main_btn i {
    background: url(../images/btn_icons.png) no-repeat 0 0;
    display: block;
    float: left;
    height: 24px;
    margin-right: 12px;
    width: 24px;
}

.main_btn i.entire {
    background-position: 0 0;
}

.main_btn i.selected {
    background-position: -24px 0;
}

.main_btn i.scroll {
    background-position: -151px 0;
}

.main_btn i.visible {
    background-position: -48px 0;
}

.main_btn i.browser {
    background-position: -72px 0;
}

.main_btn i.blank {
    background-position: -96px 0;
}

.main_btn i.android {
    background: url(../images/android.png) no-repeat 0 0;
}

.settings_btn {
    font-family: 'OpenSansSemibold';
    background: none;
    border: none;
    color: #585858;
    font-size: 12px;
    cursor: pointer;
    float: right;
    /*letter-spacing: 0.5px;*/
}

.settings_btn:hover {
    color: #000;
}

.settings_btn i.options {
    background: url(../images/btn_icons.png) no-repeat -120px 0;
    width: 13px;
    height: 13px;
    display: block;
    float: left;
    margin-top: 2px;
    margin-right: 5px;
}

.enable_edit {
    float: left;
    cursor: default;
}

.enable_edit * {
    /*height: 19px;*/
    vertical-align: middle;
    /*-moz-user-select: none;*/
    /*-webkit-user-select: none;*/
    /*user-select: none;*/

    outline: none;
    display: inline-block;
    border: solid 1px #ddd;
    padding: 2px 10px 3px 3px;
    font-size: 12px;
    border-radius: 3px;
    box-shadow: 0 0 0 !important;
    background: #fff;

    -webkit-appearance: button;
    background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAoAAAAKCAYAAACNMs+9AAAABmJLR0QA/wD/AP+gvaeTAAAACXBIWXMAAAsTAAALEwEAmpwYAAAAB3RJTUUH3QwSDzcs9BdcrgAAATFJREFUGNNtjj1rwlAYRp/3eoNgUDFDITSgQ0ACLnGRINIpdwn4M/p3OvZj7NAObo6WLi6BDl1a6SK41CnUMRqveW+Xtij0rOcMh4IgcA6Hw5llWcYYg2OICFprqlQqmRwOh0mapveWZeE/iAiDweBSJknyVpblerFYnFer1ZNov98jDMPP8Xj8Kmzb/oii6Lper4OIIKWElBJCCNi2jSiKbmq12ruI47hwHGfS7/fT7XYLZgYzI89zhGH40mw2J3EcF4KI0Gg0Vp7n3bmuq3e7HYqigOu6utPp3LZarRURQQCAUkoHQfDs+/6UmVGWJXzfn3a73SellAYAefS+brfbD8vl8oKZyfO8RwDrX/kXKqV4NpvNsyybABC9Xm+ulOKT0BgDIgKAzWg0uvpxX8fuG8+ucDxTYEQEAAAAAElFTkSuQmCC);
    background-position: 97% 50%;
    background-repeat: no-repeat;
    background-size: 7px;
}

.enable_edit input {
    height: 15px;
    width: 15px;
    border: 1px solid rgba(0, 0, 0, 0.25);
    outline: none;
    margin: 0 0 0 3px;
}

/*---------------------------done page---------------------------------------*/

#save-img {
    position: relative;
    top: 20px;
    /*bottom: 0;*/
    /*left: 0;*/
    /*right: 0;*/
    margin: auto;
    padding: 0 110px;
    /*height: 660px;*/
    width: 680px;
    display: none;
    z-index: 2000;
}

#preview {
    /*height: 355px;*/
    /*width: 680px;*/
    position: relative;
    margin: 0 auto;
    text-align: center;
}

#preview img {
    max-height: 355px;
    max-width: 680px;
    margin: auto;
}

#save-panel {
    position: relative;
    height: 70px;
}

#save-buttons {
    margin: 0 -20px;
    width: 790px;
}

#save-panel .main_btn {
    float: left;
    text-align: center;
    margin-right: 12px;
    line-height: 27px;
    padding: 1px 6px;
    width: 146px;
}

#save-panel .main_btn.back {
    width: auto;
    text-decoration: none;
    padding-right: 10px;
}

#save-panel #send-to-google, #save-panel #save-nimbus  {
    padding-right: 14px;
    z-index: 2;
    position: relative;
}

#save-img .save_screenshot_block {
    width: 250px;
    margin: 28px auto;
}

#save-panel #settings.main_btn {
    margin-right: 0;
    width: auto;
}

#save-img .main_btn i {
    height: 27px;
    margin-right: 0;
    margin-top: 1px;
}

#save-img .main_btn i.back_icon {
    background-position: 0 -24px;
    margin-right: 0;
    text-align: left;
}

.main_btn i.save_image_icon {
    background-position: -24px -24px;
}

#save-nimbus.main_btn {
    padding-top: 3px;
}
#save-nimbus.main_btn i.save_to_nimbus_icon {
    background: url(../images/note_logo.png) no-repeat 0 0;
    height: 35px;
    width: 26px;
    position: relative;
    border-radius: 5px 0 0 5px;
    margin: -4px 5px -2px -7px;
}

#save-nimbus.main_btn.disabled i.save_to_nimbus_icon {
    background-position: 0 -87px;
}

#save-nimbus.main_btn:active i.save_to_nimbus_icon {
    background-position: 0 -44px;
}

#save-nimbus.main_btn.disabled:active i.save_to_nimbus_icon {
    background-position: 0 -131px;
}

.main_btn i.send_to_google_icon {
    background-position: -48px -24px;
}

.main_btn i.print_img_icon {
    background-position: -72px -24px;
}

.main_btn i.copy_img_icon {
    background-position: -118px -24px;
}

.main_btn i.app_settings_icon {
    background: url(../images/edit_btn.png) no-repeat -76px 0;
    background-size: 100px;
}

#save-img .download_screenshot {
    font-size: 15px;
    color: #fff;
    font-family: 'OpenSansSemibold';
    text-decoration: none;
    text-transform: uppercase;
    line-height: 38px;
}

#save-img .download_screenshot i.save_screenshot {
    background: url(../images/edit_btn.png) no-repeat -90px 0;
    width: 40px;
    height: 38px;
    display: block;
    float: left;
    margin-right: 23px;
}

.panel_trigger {
    float: left;
    width: 15px;
    height: 34px;
    margin: 1px 0 1px -27px;
    padding: 0;
    border: none;
    outline: none;
    border-bottom-right-radius: 5px;
    border-top-right-radius: 5px;
    /*box-shadow: 0 0 2px #bbb;*/
    cursor: pointer;
    background-color: #eee;
    position: relative;
    z-index: 3;
    background-image: url(../images/arrow.png);
    background-position: center center;
    background-repeat: no-repeat;
    border-left: 1px solid #cac9c9;
}

.panel_trigger:hover, .panel_trigger.active {
    background-color: #ddd;
}

#background {
    background: url(../images/pattern.png) repeat;
    position: fixed;
    bottom: 0;
    right: 0;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    z-index: 1000;
    overflow: auto;
}

/*---------------------------settings---------------------------------------*/

#wrapper.settings {
    width: 465px;
    margin: 0 auto;
    position: relative;
    z-index: 1001;
}

#wrapper .container {
    width: 465px;
    margin: 0 auto;
    background: #fff;
    padding: 25px 0 20px 0;
    margin-bottom: 20px;
}

#wrapper h1, .popup_content h1 {
    background: url(../images/edit_btn.png) no-repeat -130px 0;
    font-size: 15px;
    color: #fff;
    font-family: 'OpenSansSemibold';
    text-decoration: none;
    text-transform: uppercase;
    line-height: 43px;
    padding-left: 70px;
    width: 220px;
    margin: 35px auto 10px;
}
.popup_content h1 {
    color: #1694ab;
    margin: 10px auto 20px;
}
.switch {
    width: 345px;
    margin: 0 auto;
    font-family: 'OpenSansRegular';
    overflow: hidden;

    display: -webkit-box;;
    display: -moz-box;
}

.switch h4 {
    color: #5d5d5d;
    font-size: 12px;
    font-weight: normal;
    margin: 12px 10px 0 0;
}

.switch button {
    background: url(../images/format_btn_bg.png) repeat-x 0 0;
    display: block;
    /*float: left;*/
    cursor: pointer;
    border: 1px solid #cac9c9;
    height: 41px;
    font-size: 9px;
    color: #5d5d5d;
    /*text-transform: uppercase;*/
    font-family: 'OpenSansRegular';
    line-height: 25px;
    margin: 0;

    -webkit-box-flex: 1;
    -moz-box-flex: 1;
    -webkit-flex: 1;
}

.switch button:hover {
    background-position: 0 -41px;
}

.switch button.active {
    background-position: 0 -82px;
}

.switch button span.mark  {
    background: url(../images/btn_icons.png) no-repeat -111px -32px;
    display: block;
    float: left;
    height: 7px;
    margin: 9px 5px 0 0;
    width: 7px;
}

.switch button.active span.mark {
    background-position: -100px -32px;
}

.switch button i.icon {
    background: url(../images/btn_icons.png) no-repeat -24px -24px;
    display: block;
    float: left;
    width: 24px;
    height: 24px;
    /*margin-right: 7px;*/
}

.switch button.visible i.icon {
    background-position: -48px 0;
}
.switch button.area i.icon {
    background-position: -24px 0;
}
.switch button.scroll i.icon {
    background-position: -151px 0;
}
.switch button.entire i.icon {
    background-position: 0 0;
}
.switch button.window i.icon {
    background-position: -72px 0;
}
.switch button.blank i.icon {
    background-position: -96px 0;
}
.switch button.edit i.icon {
    background: url(../images/edit_pane_btn.png) no-repeat -104px 0;
    width: 16px;
    height: 18px;
    margin: 4px 2px 0 2px;
}
.switch button.save i.icon {
    background: url(../images/download.png) no-repeat;
    width: 21px;
    height: 21px;
}
.switch button.done i.icon {
    /*background-position: 0 0;*/
}
.switch button.copy i.icon {
    background-position: -118px -24px;
}
.switch button.jpeg,
.switch button:first-child {
    -webkit-border-radius: 5px 0 0 5px;
    -moz-border-radius: 5px 0 0 5px;
    border-radius: 5px 0 0 5px;
}

.switch button:last-child {
    -webkit-border-radius: 0 5px 5px 0;
    -moz-border-radius: 0 5px 5px 0;
    border-radius: 0 5px 5px 0;
}

.section {
    width: 300px;
    margin: 20px auto;
    color: #5d5d5d;
    font-size: 10px;
    line-height: 22px;
    border: 1px solid transparent;
}

.section .flag * {
    /*margin: 3px;*/
    padding: 0;
    font-size: 12px;
    color: rgb(93, 93, 93);
    line-height: 18px;
    cursor: pointer;
}
.section .flag label {
    position: relative;
    top: -2px;
}

.section input[type=text] {
    width: 100%;

    outline: none;
    border: solid 1px #ddd;
    padding: 2px 10px 3px 3px;
    font-size: 12px;
    border-radius: 3px;
    background: #fff;
}

#image-quality .range {
    width: 255px;
    margin-right: 10px;
}

#quick-capture {
    width: 380px;
}

#quick-capture .switch {
    margin-top: 10px;
    width: 100%;
}

#typeCapture button i.icon,
#enableEdit button i.icon{
    margin: 0 auto;
    float: none;
}
/*#quick-capture .switch button.edit {*/
    /*width: 130px;*/
/*}*/
/*#quick-capture .switch button.done {*/
    /*width: 130px;*/
/*}*/
/*#quick-capture .switch button.copy {*/
    /*width: 130px;*/
/*}*/

#quick-capture #enableEdit button {
    text-transform: capitalize;
    white-space: nowrap;
}

#quick-capture .blocker {
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background: rgba(255, 255, 255, 0.5);
}

#shortcut-setting {
    width: 300px;
    margin: 0 auto;
    color: #5d5d5d;
    font-size: 10px;
    line-height: 22px;
    margin-bottom: 20px;
}

.section h4 {
    color: #1694ab;
    font-size: 11px;
    font-family: 'OpenSansBold';
    font-weight: normal;
    text-transform: uppercase;
    margin-top: 30px;
    text-align: center;
}

#shortcut-setting select {
    width: 94px;
    float: right;
    margin-bottom: 5px;

    outline: none;
    border: solid 1px #ddd;
    padding: 2px 10px 3px 3px;
    font-size: 12px;
    border-radius: 3px;
    background: #fff;
}

button.save_settings {
    background: url(../images/save_settings_bg.png) repeat-x 0 0;
    height: 29px;
    color: #fff;
    font-size: 11px;
    border: 1px solid #0a5461;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 3px;
    width: 110px;
    margin: 0 auto;
    text-align: center;
    cursor: pointer;
    display: block;
}

button.save_settings:hover {
    background-position: 0 -29px;
}

button.save_settings:active, button.save_settings:focus {
    background-position: 0 -58px;
}

button.save_settings i.icon {
    background: url(../images/btn_icons.png) no-repeat -132px 0;
    display: block;
    float: left;
    width: 16px;
    height: 12px;
    margin-right: 7px;
    margin-left: 10px;
}

#info {
    margin-top: 25px;
    font-size: 11px;
    color: #666;
    text-align: right;
    padding: 0 20px;
}

#info span {
    color: #999;
}

#info a {
    color: #3594a5;
    text-decoration: none;
}

#info a:hover {
    text-decoration: underline;
}

/*---------------------------main edit pane---------------------------------------*/

#wrapper {
    position: relative;
    z-index: 1001;
}

#editpanel {
    /*min-width: 1140px;*/
    /*height: 37px;*/
    background-image: url(../images/main_edit_panel_bg.png);
    border-bottom: 1px solid #cac9c9;
    border-top: 1px solid #cac9c9;
    box-shadow: 0 0 3px #000;
}

#editpanel .add-img {
    float: left;
    background-image: url(../images/save_settings_bg_gr.png);
    border-color: #c0c0c0;
    color: #606060;
}

#editpanel .add-img span{
    margin: 1px 10px 0 5px;
    display: block;
    float: left;
}

#editpanel .add-img i{
    margin: 0;
    background: url(../images/openimg.png) no-repeat center center transparent;
    width: 16px;
    height: 16px;

    display: block;
    float: left;
}

#editpanel #capture-windows.add-img i{
    background: url(../images/btn_icons.png) no-repeat 0 0;
    background-position: -72px 0;
    background-size: 133px;
}

#editpanel h5 {
    float: left;
    font-weight: normal;
    font-size: 10px;
    color: #5d5d5d;
    margin: 10px 10px 0 10px;
}

#editpanel .tools-wrap {
    margin-left: 234px;
    margin-right: 100px;
}

.tools {
    margin: 0 auto;
    max-width: 1100px;
    background: url(../images/main_edit_panel_bg.png) repeat-x;
}

#editpanel .size, #editpanel .drawing_tools, #editpanel .siactionsze, #editpanel .zoom, #editpanel .actions {
    float: left;
    border-right: 1px solid #909090;
    height: 37px;
    padding: 0 10px 0 5px;
}

#editpanel .size {
    min-width: 72px;
    border-left: 1px solid #909090;
}

#editpanel .drawing_tools {
    min-width: 432px;
}

#editpanel .actions {
    min-width: 108px;
}

#editpanel .siactionsze {

}

#editpanel .zoom {
    border: 0;
    border-left: 1px solid #909090;
}

#editpanel .dropdown {
    position: absolute;
    display: none;
}

#editpanel button.panel_btn {
    float: left;
    width: 31px;
    height: 26px;
    font-size: 9px;
    color: #5d5d5d;
    line-height: 18px;
    padding-bottom: 2px;
    margin-top: 6px;
    margin-left: 5px;
    cursor: pointer;
    background: none;
    border: 1px solid transparent;
    opacity: 1;
}

#editpanel button.panel_btn.inert {
    opacity: 0.5;
}

#editpanel button.panel_btn:hover {
    /*background: url(../images/panel_btn.png) repeat-x 0 0;*/
    border: 1px solid #cac9c9;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
}

#editpanel button.panel_btn:active, #editpanel button.panel_btn.active, #editpanel button.panel_btn.enable {
    background: url(../images/panel_btn.png) repeat-x 0 -25px;
    border: 1px solid #cac9c9;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
}

#editpanel button.panel_btn span.icon {
    background: url(../images/edit_pane_btn.png) no-repeat 0 0;
    display: block;
    width: 16px;
    height: 18px;
    float: left;
}

#editpanel button .zoomplus {

}

#editpanel button.zoomminus span.icon {
    background-position: -18px 0;
    width: 17px;
}

#editpanel button.percent span.icon {

}

#editpanel button.resize span.icon {
    background-position: -35px 0;
}

#editpanel button.crop span.icon {
    background-position: -52px 0;
}

#editpanel button.sphere span.icon {
    background-position: -69px 0;
}

#editpanel button.rectangle span.icon {
    background-position: -86px 0;
}

#editpanel button.pen span.icon {
    background-position: -104px 0;
}

#editpanel button.text span.icon {
    background-position: -190px 0;
}

#editpanel button.sticker span.icon {
    background-position: -207px 0;
}

#editpanel button.text_arrow span.icon {
    background-position: -501px 0;
}

#editpanel button.color span.icon {
    background: #1a7006;
    border: 1px solid #fff;
    height: 15px;
    width: 15px;
}

#editpanel button.eraser span.icon {
    background-position: -348px 0;
    width: 17px;
}
#editpanel button.shadow {
    width: 35px;
    position: relative;
}
#editpanel button.shadow span.icon {
    background-position: -540px 0;
}
#editpanel .drop .panel_btn>i{
    position: absolute;
    top: 10px;
    right: 3px;
    width: 4px;
    height: 4px;
    overflow: hidden;
    background: url(../images/arrow.png) no-repeat;
}
#editpanel button.undo span.icon {
    background-position: -379px 0;
}

#editpanel button.redo span.icon {
    background-position: -397px 0;
}

#editpanel button.undo_all span.icon {
    background-position: -415px 0;
}

#editpanel button.numbers span.icon {
    width: 20px;
    background-position: -559px 0;
}

#editpanel .panel_btn.font{
    font-size: 10px;
    width: 100px;
    position: relative;
    color: #5d5d5d;
    line-height: 20px;
    text-align: right;
    padding-right: 11px;
}

.panel_btn.font .fml{
    margin-left: -3px;
    float: left;
    width: 56px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    text-align: left;
    font-size: 12px;
}

.font-list {
    float: right;
    width: 110px;
}
.font-list div{
    font-size: 14px;
    line-height: 14px;
    height: 14px;
    margin-top: 3px;
    padding: 3px;
    cursor: pointer;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    color: #5d5d5d;
}
.font-list div:hover {
    color: #333;
}
.options_tools {
    float: left;
    border-left: 1px solid #909090;
    margin-left: 3px;
    padding-left: 3px;
}
button.save_settings.done {
    margin: 4px 10px 4px 4px;
    float: right;
    width: auto;
}

button.save_settings.done span{
    margin-right: 10px;
}

.helper_tooltip {
    position: absolute;
    background: url(../images/arrow_up.png) no-repeat top left;
    height: 50px;
    margin: 40px 0 0 40px;
    color: #fff;
    width: 160px;
    padding: 21px 10px 0 20px;
    display: none;
}

.helper_tooltip .close_helper_tooltip {
    position: absolute;
    top: 18px;
    right: 0;
    background: url(../images/close_white.png) no-repeat center;
    background-size: 10px 10px;
    height: 10px;
    width: 10px;
    border: none;
    cursor: pointer;
}
/*----------------------dropdown styles----------------------------------*/

.jq-selectbox {
    vertical-align: middle;
    cursor: pointer;
}

.jq-selectbox .select {
    float: left;
    width: 35px;
    height: 22px;
    font-size: 9px;
    color: #5d5d5d;
    line-height: 18px;
    padding-top: 2px;
    margin-top: 6px;
    margin-left: 5px;
    border: 1px solid transparent;
}

#percent-styler.jq-selectbox .select {
    width: 45px;
}

.jq-selectbox .select:hover {
    background: url(../images/panel_btn.png) repeat-x 0 -75px;
    border: 1px solid #cac9c9;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
}

.jq-selectbox .select:active {

}

.jq-selectbox.opened .select {
    background: url(../images/panel_btn.png) repeat-x 0 -25px;
    border: 1px solid #cac9c9;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
}

.active .select {
    background: url(../images/panel_btn.png) repeat-x 0 -25px;
    border: 1px solid #cac9c9;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
}

.jq-selectbox .select .text {
    display: block;
    width: 79%;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    text-align: center;
    margin-top: 1px;
}

#ellipse-styler, #line-styler, #arrow-styler, #colortools-styler, #blur-styler, #inscription-styler, #shape-styler, #colorshadow-styler, #pens-styler {
    text-indent: -999px;
}

#ellipse-styler .text, #line-styler .text, #arrow-styler .text, #colortools-styler .text, #blur-styler .text, #inscription-styler .text, #shape-styler .text, #colorshadow-styler .text, #pens-styler .text {
    width: 16px;
    margin-left: 4px;
}

#ellipse-styler .text.ellipse {
    width: 17px;
    margin-left: 4px;
}

#colortools-styler .text {
    box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.5) inset;
}

#line-width-styler .text {
    margin-left: 4px;
}
#colorshadow-styler {
    margin-top: -5px;
    margin-left: -5px;
}
.small.percent .jq-selectbox li {
    text-align: center;
    padding-left: 5px;
}

.small.percent .jq-selectbox .sel {
    background: url(../images/ch.png) no-repeat left center;
    padding-left: 5px;
}

.small.percent .jq-selectbox .dropdown {
    padding: 5px;
}

.jq-selectbox .select:hover .trigger {
    border-left: 1px solid #cac9c9;
    background: #e3e3e3;
}

.jq-selectbox.opened .trigger {
    border-left: 1px solid #cac9c9;
    background: #e3e3e3;
}

.jq-selectbox .select .trigger {
    height: 23px;
    position: absolute;
    right: 1px;
    top: 7px;
    width: 10px;
    -webkit-border-radius: 0 5px 5px 0;
    -moz-border-radius: 0 5px 5px 0;
    border-radius: 0 5px 5px 0;
}

.jq-selectbox .trigger .arrow {
    position: absolute;
    top: 10px;
    right: 3px;
    width: 4px;
    height: 4px;
    overflow: hidden;
    background: url(../images/arrow.png) no-repeat;
}

.jq-selectbox .trigger:hover .arrow {

}

.jq-selectbox .dropdown {
    top: 29px;
    width: 35px;
    left: 6px;
    margin: 0;
    padding: 0;
    padding-top: 5px;
    -webkit-border-radius: 0 0 5px 5px;
    -moz-border-radius: 0 0 5px 5px;
    border-radius: 0 0 5px 5px;
    background: #e3e3e3;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.3);
}

.jq-selectbox ul {
    margin: 0;
    padding: 0;
}

.jq-selectbox li {
    padding: 0;
    font-size: 9px;
    color: #5d5d5d;
    margin: 0 auto;
}

.small .jq-selectbox li {
    padding-top: 2px;
    padding-bottom: 3px;
}

.jq-selectbox li:hover {
    opacity: 0.6;
}

.jq-selectbox li.option {
    padding-left: 25px;
}

.jq-selectbox .pen {
    background: url(../images/edit_pane_btn.png) no-repeat -104px 0;
    width: 17px;
    height: 18px;
}

.jq-selectbox .highlight {
    background: url(../images/edit_pane_btn.png) no-repeat -586px 0;
    width: 17px;
    height: 18px;
}

.jq-selectbox .rectangle {
    background: url(../images/edit_pane_btn.png) no-repeat -86px 0;
    width: 17px;
    height: 18px;
}

.jq-selectbox .rounded_rectangle {
    background: url(../images/edit_pane_btn.png) no-repeat -521px 0;
    width: 17px;
    height: 18px;
}

.jq-selectbox .sphere {
    background: url(../images/edit_pane_btn.png) no-repeat -69px 0;
    width: 17px;
    height: 18px;
}

.jq-selectbox .ellipse {
    background: url(../images/edit_pane_btn.png) no-repeat -483px 0;
    width: 17px;
    height: 18px;
}

.jq-selectbox .line {
    background: url(../images/edit_pane_btn.png) no-repeat -122px 0;
    width: 17px;
    height: 18px;
}

.jq-selectbox .line_curve {
    background: url(../images/edit_pane_btn.png) no-repeat -140px 0;
    width: 16px;
    height: 18px;
}

.jq-selectbox .arrow1 {
    background: url(../images/edit_pane_btn.png) no-repeat -156px 0;
    width: 16px;
    height: 18px;
}

.jq-selectbox .arrow_curve {
    background: url(../images/edit_pane_btn.png) no-repeat -173px 0;
    width: 16px !important;
    height: 18px;
}

.jq-selectbox .sticker {
    background: url(../images/edit_pane_btn.png) no-repeat -207px 0;
    width: 16px;
    height: 18px;
}

.jq-selectbox .text_arrow {
    background: url(../images/edit_pane_btn.png) no-repeat -501px 0;
    width: 16px !important;
    height: 18px;
}

.jq-selectbox .blur {
    background: url(../images/edit_pane_btn.png) no-repeat -364px 0;
    width: 15px !important;
    height: 18px;
}

.jq-selectbox .blur_all {
    background: url(../images/edit_pane_btn.png) no-repeat -464px 0;
    width: 16px;
    height: 18px;
}

.long .jq-selectbox .select {
    width: 76px;
}

.long .jq-selectbox .dropdown {
    width: 76px;
}

.long .jq-selectbox li {
    margin: 3px 0 3px 12px;
    padding-left: 35px;
}

.long .jq-selectbox .select .text {
    text-align: right;
}

.jq-selectbox .line_width1 {
    background: url(../images/twopx.png) no-repeat left center;
    background-size: 32px 3px;
}

.jq-selectbox .line_width2 {
    background: url(../images/twopx.png) no-repeat left center;
}

.jq-selectbox .line_width3 {
    background: url(../images/threepx.png) no-repeat left center;
}

.jq-selectbox .line_width4 {
    background: url(../images/forepx.png) no-repeat left center;
}

.jq-selectbox .line_width5 {
    background: url(../images/fivepx.png) no-repeat left center;
}

.jq-selectbox .line_width6 {
    background: url(../images/tanpx.png) no-repeat left center;
    background-size: 32px 7px;
}

.jq-selectbox .line_width7 {
    background: url(../images/tanpx.png) no-repeat left center;
    background-size: 32px 8px;
}

.jq-selectbox .line_width8 {
    background: url(../images/tanpx.png) no-repeat left center;
    background-size: 32px 9px;
}

.jq-selectbox .line_width9 {
    background: url(../images/tanpx.png) no-repeat left center;
    background-size: 32px 10px;
}

.jq-selectbox .line_width10 {
    background: url(../images/tanpx.png) no-repeat left center;
}

.jq-selectbox .line_width15, .jq-selectbox .line_width20 {
    background: url(../images/tanpx.png) no-repeat left center;
    background-size: 32px 20px;
}

.color .jq-selectbox .dropdown {
    width: 90px;
    min-height: 55px !important;
    padding: 10px 11px;
}

.color .jq-selectbox li {
    float: left;
    width: 15px;
    height: 15px;
    margin: 0 0 3px 3px;
}

.jq-selectbox.color .sel {
    background-image: url(../images/ch.png);
    background-repeat: no-repeat;
    background-position: center center;
}

.jq-selectbox .col1 {
    background-color: #fff;
}

.jq-selectbox .col2 {
    background-color: #f00;
}

.jq-selectbox .col3 {
    background-color: #00c000;
}

.jq-selectbox .col4 {
    background-color: #ff0;
}

.jq-selectbox .col5 {
    background-color: #00f;
}

.jq-selectbox .col6 {
    background-color: #b8b8b8;
}

.jq-selectbox .col7 {
    background-color: #8e0707;
}

.jq-selectbox .col8 {
    background-color: #0c8564;
}

.jq-selectbox .col9 {
    background-color: #f60;
}

.jq-selectbox .col10 {
    background-color: #000a88;
}

.jq-selectbox .col11 {
    background-color: #000;
}

.jq-selectbox .col12 {
    background-color: #570303;
}

.jq-selectbox .col13 {
    background-color: #064f3b;
}

.jq-selectbox .col14 {
    background-color: #697202;
}

.jq-selectbox .col15 {
    background-color: #000545;
}

.drop {
    float: left;
    position: relative;
}

.drop.open .drop_panel {
    display: block;
}

.drop .drop_panel {
    position: absolute;
    top: 29px;
    background: #e3e3e3;
    left: 6px;
    padding: 14px;
    width: 150px;
    z-index: 1002;
    border-radius: 0 0 5px 5px;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.3);
    display: none;
}

.drop .drop_panel label {
    font-size: 11px;
    color: #5d5d5d;
    display: block;
    float: left;
    width: 40px;
    margin-top: 4px;
}

.drop .drop_panel span.px {
    font-size: 11px;
    color: #5d5d5d;
    display: block;
    float: left;
    margin-top: 4px;
    margin-left: 7px;
}

.drop .drop_panel input[type="number"] {
    font-size: 11px;
    color: #5d5d5d;
    width: 80px;
    height: 17px;
    line-height: 17px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    background: #fff;
    border: 1px solid #d2d2d2;
    float: left;
    margin-bottom: 5px;
    padding-left: 3px;
}

.drop .drop_panel input[type="color"] {
    width: 80px;
    height: 17px;
    margin-bottom: 5px;
}
#tools-shadow .chk {
    margin-bottom: 10px;
    margin-left: 0;
}
#tools-shadow {
    width: 120px;
}
#tools-shadow input{
    width: 45px;
}
.chk {
    margin-bottom: 5px;
    margin-left: 40px;
    font-size: 11px;
    color: #5d5d5d;
}

.jq-checkbox {
    position: relative;
    width: 13px;
    height: 13px;
    border: 1px solid #d2d2d2;
    border-radius: 3px;
    background: #fff;
    vertical-align: middle;
    cursor: pointer;
    margin-right: 5px;

}

.jq-checkbox.checked span {
    display: block;
    width: 9px;
    height: 9px;
    margin: 2px 0 0 2px;
    border-radius: 2px;
    background: #666;
    box-shadow: inset 0 -3px 6px #aaa;
}

.jq-checkbox.focused {
    border: 1px solid #08c;
}

.jq-checkbox.disabled {
    opacity: 0.55;
    filter: alpha(opacity=55);
}

.drop .drop_panel > * {
    -moz-user-select: -moz-none;
    -o-user-select: none;
    -khtml-user-select: none;
    -webkit-user-select: none;
    user-select: none;
}

.drop .drop_panel button {
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    border-radius: 2px;
    background: #efefef;
    border: 1px solid #d2d2d2;
    height: 21px;
    font-size: 11px;
    width: 60px;
    color: #5d5d5d;
    margin-left: 3px;
    cursor: pointer;
}

.drop .drop_panel button:hover {
    background: #f7f3f3;
}

.drop .drop_panel .buttons {
    margin-left: 10px;
}

input[type=range]{
    -webkit-appearance: none;
}

input[type=range]::-webkit-slider-runnable-track {
    width: 300px;
    height: 5px;
    background: #ddd;
    border: none;
    border-radius: 3px;
}

input[type=range]::-webkit-slider-thumb {
    -webkit-appearance: none;
    border: none;
    height: 16px;
    width: 16px;
    border-radius: 50%;
    background: #0099c4;
    margin-top: -4px;
}

input[type=range]:focus {
    outline: none;
}

input[type=range]:focus::-webkit-slider-runnable-track {
    background: #ccc;
}