@font-face{
    font-family:'BPdots';
    src:url('../fonts/bpdots.otf') format("opentype");
}

@font-face{
    font-family:'Architects Daughter';
    src:url('../fonts/architects_daughter.ttf') format("truetype");
}

@font-face{
    font-family:'Alpha Echo';
    src:url('../fonts/alpha_echo.ttf') format("truetype");
}

@font-face{
    font-family:'Amaranth';
    src:url('../fonts/amaranth.otf') format("opentype");
}

@font-face{
    font-family:'Artifika';
    src:url('../fonts/artifika.ttf') format("truetype");
}

@font-face{
    font-family:'Bitstream Vera Sans';
    src:url('../fonts/bitsteam_vera.ttf') format("truetype");
}

@font-face{
    font-family:'Black Casper';
    src:url('../fonts/black_casper.ttf') format("truetype");
}

@font-face{
    font-family:'Candal';
    src:url('../fonts/candal.ttf') format("truetype");
}
@font-face{
    font-family:'Comic Zine OT';
    src:url('../fonts/comic_zine_ot.otf') format("opentype");
}
@font-face{
    font-family:'Crimson';
    src:url('../fonts/crimson.otf') format("opentype");
}
@font-face{
    font-family:'Deftone Stylus';
    src:url('../fonts/deftone_stylus.ttf') format("truetype");
}

@font-face{
    font-family:'District';
    src:url('../fonts/district.ttf') format("truetype");
}

@font-face{
    font-family:'Flavors';
    src:url('../fonts/flavors.ttf') format("truetype");
}



@font-face{
    font-family:'Harabara Hand';
    src:url('../fonts/harabara_hand.ttf') format("truetype");
}

@font-face{
    font-family:'Jenna Sue';
    src:url('../fonts/jenna_sue.ttf') format("truetype");
}


@font-face{
    font-family:'Mountains of Christmas';
    src:url('../fonts/mountains_of_christmas.ttf') format("truetype");
}

@font-face{
    font-family:'Aaargh';
    src:url('../fonts/aaargh.ttf') format("truetype");
}
@font-face{
    font-family:'Bebas';
    src:url('../fonts/bebas.ttf') format("truetype");
}
@font-face{
    font-family:'Cabin Sketch';
    src:url('../fonts/cabin_sketch.otf') format("opentype");
}
@font-face{
    font-family:'Idolwild';
    src:url('../fonts/idolwild.ttf') format("truetype");
}