@font-face
{
    font-family: Roboto;

    src:url("/fonts/Roboto-Regular-webfont.eot");
    src:url("/fonts/Roboto-Regular-webfont.eot?#iefix") format('embedded-opentype'),
    url("../fonts/Roboto-Regular-webfont.svg#RobotoRegular") format('svg'),
    url("../fonts/Roboto-Regular-webfont.woff") format('woff'),
    url("../fonts/Roboto-Regular-webfont.ttf") format('truetype');
    
    font-weight:normal;
    font-style:normal
}

BODY {
    margin:0;
    padding:0;
    background-color:#606060;
    overflow:hidden;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    font-family: Roboto;
}

A:visited {
    color:#aaa;
    text-decoration: none;
}

A {
    color:#aaa;
    text-decoration: none;
}