.mb-modal{
     z-index:99990;
      -webkit-perspective: 1000px;
}

.mb{   
     -webkit-transform-style: preserve-3d;  
    /*width:200px;*/
  color:#000;
    font-size:12px;
    background-color:#fbfbfb;
    position:absolute;
    z-index:99999;
    left:0;
    top:0;
   box-shadow: 0px 1px 12px rgba(0, 0, 0, 0.8);
   border: 5px solid #E4E4E4;
   border-top:none;
   border-radius: 2px;
}
.mb-t-cnt{
    width:100%;
    height:30px;
    background-color:#E4E4E4;
  
}
.mb-c-cnt{
padding: 5px;

}
.mb-b-cnt{
    width: 95%;
height: 22px;
margin-top: 58px;
padding: 5px;
}
.mb-title{
    float:left;
    font-size:14px;
    padding: 4px 0;
}
.mb-btn{
    float:right;
    margin-left: 5px;
}
.mb-close{
    float:right;
     width:45px;
    height:20px;
 
   background-color:#dd4b39;
    background-image:url('/res/close.png');
    background-position:center center;
    background-repeat:no-repeat;
   border-bottom-left-radius: 2px;
border-bottom-right-radius: 2px
}
.mb-close:hover{
  background-color:#c63828;
      box-sizing:border-box;
      border:1px solid #b0281a;
}
.mb-content{
    float:left;
    margin-top: 15px;
   padding-right: 30px;
   padding-left: 5px;
}
.mb-icon{
    width:64px;
    height:64px;
    float:left;
  
    background-position:center center;
    background-repeat:no-repeat;
}
