.std
{
	color:black;
	font-family:Arial;
	font-size:10pt;
	background-color:white;
    scrollbar-arrow-color:gray;
    scrollbar-face-color:white;
    scrollbar-highlight-color:lightgray;
}
