<div class="nsc-popup" id="nsc_stream_start">
    <div class="nsc-popup-heading" flex layout="row" layout-align="start start">
        <div class="nsc-popup-heading-title" flex layout="row" layout-align="start center">
            <i class="nsc-icon ic-nimubs-dark">&nbsp;</i>
        </div>
        <div class="nsc-popup-close" flex="none">
            <button class="nsc-button nsc-button-block nsc-button-icon-cleared" type="button" name="">
                <span class="nsc-icon ic-cancel">&nbsp;</span>
            </button>
        </div>
    </div>

    <div class="nsc-popup-content nsc-popup-content-single" flex layout="row" layout-align="center center">
        <div class="nsc-popup-actions" flex="none" style="margin-top: -20px">
            <div class="nsc-popup-actions-text nsc-hide nsc-popup-actions-text-registering" data-i18n="nimbusStreamStartTitle">Thank you for registering.<br>To start recording, simply click on Start Instant Record.</div>
            <div class="nsc-popup-actions-text nsc-hide nsc-popup-actions-text-media-access" data-i18n="nimbusStreamStartDestruction">Nimble capture will need access to your mic and camera in order to create video.</div>
            <div class="nsc-popup-form nsc-hide nsc-popup-form-media-access-button">
                <div class="nsc-popup-actions-buttons nsc-popup-close">
                    <button class="nsc-button nsc-button-large nsc-button-block nsc-button-primary nsc-popup-close nsc-open-media-access" type="button" name="">
                        <span class="nsc-button-layout" flex="" layout="row" layout-align="center center" data-i18n="btnOkGotIt">Ok, Got It</span>
                    </button>
                </div>
            </div>
            <div class="nsc-popup-form nsc-hide nsc-popup-form-default">
                <div class="nsc-popup-actions-buttons nsc-popup-close">
                    <button class="nsc-button nsc-button-large nsc-button-block nsc-button-primary nsc-popup-close" type="button" name="">
                        <span class="nsc-button-layout" flex="" layout="row" layout-align="center center" data-i18n="btnOkGotIt">Ok, Got It</span>
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>
