<div class="nsc-popup nsc-hide" id="nsc_fragment_scroll_welcome">
    <div class="nsc-popup-heading" flex layout="row" layout-align="start start">
        <div class="nsc-popup-heading-title" flex layout="row" layout-align="start center">
            <i class="nsc-icon ic-nimubs-dark">&nbsp;</i>
        </div>
        <div class="nsc-popup-close" flex="none">
            <button class="nsc-button nsc-button-block nsc-button-icon-cleared" type="button" name="">
                <span class="nsc-icon ic-cancel">&nbsp;</span>
            </button>
        </div>
    </div>

    <div class="nsc-popup-content nsc-popup-content-single" flex layout="row" layout-align="center center">
        <div class="nsc-popup-actions" flex="none">
            <div class="nsc-popup-actions-text" data-i18n="nimbusFragmentScrollTitle">С помощью этого режима, вы сможете сделать скриншот отдельных фрагментов со скроллом внутри страницы. Например, это может быть окно чата, панель управления сервисом или окно задачи в Jira, Наше приложение само найдет такие области и вам нужно будет только выбрать нужную.</div>

            <div class="nsc-popup-form">
                <div class="nsc-popup-form-actions nsc-popup-close">
                    <button class="nsc-button nsc-button-large nsc-button-block nsc-button-primary" type="button" name="">
                        <span class="nsc-button-layout" flex="" layout="row" layout-align="center center" data-i18n="btnOkGotIt">Ok, Got It</span>
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>