<div class="nsc-popup nsc-hide" id="nsc_stream_welcome">
    <div class="nsc-popup-heading" flex layout="row" layout-align="start start">
        <div class="nsc-popup-heading-title" flex layout="row" layout-align="start center">
            <i class="nsc-icon ic-nimubs-dark">&nbsp;</i>
        </div>
        <div class="nsc-popup-close" flex="none">
            <button class="nsc-button nsc-button-block nsc-button-icon-cleared" type="button" name="">
                <span class="nsc-icon ic-cancel">&nbsp;</span>
            </button>
        </div>
    </div>

    <div class="nsc-popup-content nsc-popup-content-single" flex layout="row" layout-align="center center">
        <div class="nsc-popup-actions" flex="none">
            <div class="nsc-popup-actions-text" data-i18n="nimbusStreamTitle">Speed is the main advantage of using a screen recorder in streaming mode. The moment you stop recording, the video is already on the server and you don't need to wait for the upload to complete.</div>
            <div class="nsc-popup-actions-text nsc-hide-login" data-i18n="nimbusStreamDestruction">To use streaming mode, you need to have a Nimbus Platform account.</div>
            <!--<div class="nsc-popup-actions-text nsc-hide nsc-stream-show-premium" data-i18n="nimbusStreamStartTitle">Thank you for registering.<br>To start recording, simply click on <b>Start Stream</b>.</div>-->

            <div class="nsc-popup-form">
                <div class="nsc-popup-form-actions nsc-popup-close">
                    <button class="nsc-button nsc-button-large nsc-button-block nsc-button-primary nsc-open-popup-login-nimbus" type="button" name="">
                        <span class="nsc-button-layout" flex="" layout="row" layout-align="center center" data-i18n="btnOkGotIt">Ok, Got It</span>
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>
