<div class="nsc-popup" id="nsc_popup_connect_nimbus">
    <div class="nsc-popup-heading" flex layout="row" layout-align="start start">
        <div class="nsc-popup-heading-title" flex layout="row" layout-align="start center">
            <i class="nsc-icon ic-nimubs-dark">&nbsp;</i>
            <span class="nsc-title-send-to-nimbus" data-i18n="nimbusSend">Send to Nimbus Platform</span>
        </div>
        <div class="nsc-popup-close" flex="none">
            <button class="nsc-button nsc-button-block nsc-button-icon-cleared" type="button" name="">
                <span class="nsc-icon ic-cancel">&nbsp;</span>
            </button>
        </div>
    </div>

    <div class="nsc-popup-content nsc-popup-content-single" flex layout="row" layout-align="center center">
        <div class="nsc-popup-actions" flex>
            <div class="nsc-popup-actions-title" data-i18n="nimbusEnter">Sign in to Nimbus Platform</div>

            <div class="nsc-popup-form">
                <form method="post" name="login-nimbus" id="nsc_form_login_nimbus">
                    <div class="nsc-popup-form-field">
                        <label class="nsc-label-email" data-i18n="nimbusLabelEmail">Email</label>
                        <input type="email" name="email" value="" placeholder="email" required data-i18n="nimbusPlaceholderEmail" data-i18n-attr="placeholder">
                    </div>
                    <div class="nsc-popup-form-field">
                        <label class="nsc-label-password" data-i18n="nimbusLabelPassword">Password</label>
                        <input type="password" name="password" value="" placeholder="password" required data-i18n="nimbusPlaceholderPassword" data-i18n-attr="placeholder">
                    </div>
                    <div class="nsc-popup-form-actions">
                        <button class="nsc-button nsc-button-large nsc-button-block nsc-button-primary" type="submit" name="">
                            <span class="nsc-button-layout" flex="" layout="row" layout-align="center center" data-i18n="nimbusBtnLogin">Login</span>
                        </button>
                    </div>
                </form>
                <div class="nsc-popup-form-link"><span class="nsc-open-popup-register-nimbus" data-i18n="nimbusNotAccount">I don't have account</span></div>
                <div class="nsc-popup-form-or"><span>or</span></div>
                <div class="nsc-popup-form-actions">
                    <button class="nsc-button nsc-button-large nsc-button-block nsc-button-google" type="button" name="" id="nsc_connect_to_google">
                        <span class="nsc-button-layout" flex="" layout="row" layout-align="center center" data-i18n="nimbusBtnAuthGoogle">Continue with Google</span>
                    </button>
                    <button class="nsc-button nsc-button-large nsc-button-block nsc-button-facebook" type="button" name="" id="nsc_connect_to_facebook">
                        <span class="nsc-button-layout" flex="" layout="row" layout-align="center center" data-i18n="nimbusBtnAuthFacebook">Continue with Facebook</span>
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>
