<div class="nsc-popup" id="nsc_media_access" style="width: auto">
    <div class="nsc-popup-heading" flex layout="row" layout-align="start start">
        <div class="nsc-popup-heading-title" flex layout="row" layout-align="start center">
            <i class="nsc-icon ic-nimubs-dark">&nbsp;</i>
            <!--<span class="nsc-title-send-to-nimbus" data-i18n="nimbusSend">Media access</span>-->
        </div>
        <div class="nsc-popup-close" flex="none">
            <button class="nsc-button nsc-button-block nsc-button-icon-cleared" type="button" name="">
                <span class="nsc-icon ic-cancel">&nbsp;</span>
            </button>
        </div>
    </div>

    <div class="nsc-popup-content nsc-popup-content-single" flex layout="row" layout-align="center center">
        <div class="nsc-popup-actions" flex>
            <img src="../images/media-access.gif">
        </div>
    </div>
</div>
