<div class="nsc-popup nsc-hide" id="nsc_popup_limit_free">
    <div class="nsc-popup-heading" flex layout="row" layout-align="start start">
        <div class="nsc-popup-heading-title" flex layout="row" layout-align="start center">
            <i class="nsc-icon ic-nimubs-dark">&nbsp;</i>
            <span class="nsc-title-send-to-nimbus" data-i18n="nimbusSend">Send to Nimbus Platform</span>
        </div>
        <div class="nsc-popup-close" flex="none">
            <button class="nsc-button nsc-button-block nsc-button-icon-cleared" type="button" name="">
                <span class="nsc-icon ic-cancel">&nbsp;</span>
            </button>
        </div>
    </div>

    <div class="nsc-popup-content nsc-popup-content-single" flex layout="row" layout-align="center center">
        <div class="nsc-popup-actions" flex>
            <div class="nsc-popup-actions-title" data-i18n="nimbusLimitVideoStreamMonth">Вы не можете больше записать ...</div>
            <div class="nsc-popup-actions-text" data-i18n="nimbusLimitVideoDestructionStreamMonth">В бесплатном плане вы можете записать не более 60 видео в месяц. Перейдите на план Nimbus Pro, чтобы снять ограничение.</div>
            <div class="nsc-popup-form">
                <div class="nsc-popup-actions-buttons nsc-popup-close">
                    <a href="https://nimblecapture.com/help" target="_blank">
                        <button class="nsc-button nsc-button-large nsc-button-block nsc-button-primary" type="button" name="">
                            <span class="nsc-button-layout" flex="" layout="row" layout-align="center center" data-i18n="nimbusGoPro">Upgrade to Nimbus Pro</span>
                        </button>
                    </a>
                </div>
                <div class="nsc-popup-form-link nsc-popup-close"><a href="#" data-i18n="nimbusNoThanks">No thanks</a></div>
            </div>
        </div>
    </div>
</div>
