<div class="terminal-settings_content right-side-layout">
    <div class="right-side">
        <div class="right-side-content-wrapper">

            <div class="right-side-content">

                <theme-settings
                    schemes="schemes"
                    font-families="fontFamilies"
                    selected-schema="selectedScheme"
                    selected-font="fontSize"
                    min-font-size="minFontSize"
                    max-font-size="maxFontSize"
                    selected-font-family="selectedFontFamily"
                    on-change-theme="saveColorScheme"
                    on-change-font="saveFontSize"
                    on-change-font-family="saveFontFamily"
                    font-family-disabled="fontFamilyDisabled">
                </theme-settings>

            </div>

        </div>
    </div>
</div>
